
<div id="padding">
<% if @city.present? %>

   <h4>Stages available in <%= @city.capitalize %> for <%= @date %></h4>
  <% else %>
    <h4>Pick a date</h4>
<% end %>


<form action="<%= stages_path %>" method="get">
      <div class="home-form">
        <input type="text" class="form-control" placeholder="City" name="city">
        <input type="text" class="datepicker form-control" placeholder="Date" name="date">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
</div>
</br>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <% @stages.each do |stage| %>
          <div class="col-sm-6">
            <div class="card-fond">
              <div class="card image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= photo_url_for(stage) %>')">
                <div class="card-category"><%= stage.name %></div>
              </div>
              <div class="card-description">
                <p><%= stage.city %>, Capacity: <%= stage.capacity %> people</p>
                <p>$ <%= stage.price %></p>
              </div>
              <%= link_to '', stage_path(stage, date: params[:date]), class: 'card-link' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="map" style="width: 100%; height: 696px;"></div>
      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</br>
