<div class="cardstage salle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @stage.photo,  crop: :fill %>')"> <h3><%= @stage.name %></h3><h4><%= @stage.city %></h4>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="card_details">
        <h4><%= @stage.name %></h4>
        <p><%= @stage.address %></p>
        <p><i class="fa fa-users img_users" aria-hidden="true">   </i> capacity :<%= @stage.capacity %></p>
        <p> <i class="fa fa-money img_money" aria-hidden="true"></i> €<%= @stage.price %> per night</p>
        <p class="small_stage_description">Une des salles de concert parmi les plus prestigieuses. La salle de concert est aussi célèbre que les musiciens qui sont venus y faire un spectacle!</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="booking">
        <div class="add_tour">
          <h5> Add on my tour <i class="fa fa-calendar-plus-o img_calendar" aria-hidden="true"></i></h5>
        </div>

        <%= simple_form_for([@stage, @booking], html: { class: 'booking-form' }) do |f| %>
          <p class="text-center">Check-In</p>
          <p></p>
          <%= f.input_field :date, as: :string, class: 'datepicker form-control text-center', placeholder: 'Night of the Show' %>
          <p></p>
          <p class="text-center"> € <%= @stage.price %> x 1 night </p>
          <p class="text-center"> Total : € <%= @stage.price %> </p>
          <%= f.button :button %>
        <% end %>
      </div>
    </div>
  </div>
</div>




